.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid #dadce0;

  background-color: white;
  color: #3c4043;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.2s ease;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.google-btn:hover {
  background-color: #f7f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-icon {
  width: 20px;
  height: 20px;
}